<launch>
    <node
        pkg="vehicle_control"
        type="run_setting.py"
        name="node1"
        output="log" />

    <node
        pkg="vehicle_control"
        type="vis.py"
        name="node2"
        output="screen" />

    <node
        pkg="vehicle_control"
        type="run_control.py"
        name="control_node"
        output="screen" />
    <!-- <node
        pkg="vehicle_control"
        type="can2morai.py"
        name="node3"
        output="screen" /> -->
</launch>
